.about {
    width: 100vw;
    height: auto;
    padding: 0 10vw;
    display: flex;
  }
  
.about .about-Text {
    width: 50%;
    padding: 3rem 1rem 3rem 5rem;
    text-align: justify;
    }
  .about .about-img img {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    width: 17rem;
    height: 17rem;
    overflow: hidden;
    border-radius: .8rem;
    position: absolute;
    border: 2px;
  }
  .about .about-img {
    margin-top: 3rem;
    width: 20rem;
    height: 20rem;
    justify-content: center;
    box-shadow: 5px  #6dc0a7;
  }
  .about .about-Text h1 {
    margin-top: .5rem;
    font-weight: bold;
    font-size: 2.5rem;
  }
  .about .about-Text p {
    font-weight: 500;
    color: #707085;
  }
  h4{
      color: #515153;
  }