.div
{
    background-color:white;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	
}


.container
{
	background-color:white;
	border-radius: 10px;
	overflow: hidden;
	width: 700px;
	margin-top: 70px;
	box-shadow: 10px 10px 1px rgba(21, 100, 30, 0.288);
    border: 2px solid rgb(3, 109, 68);
	
}

 h1
{
	font-family: sans-serif;
	font-size: 30px;
    font-weight: bold;
	text-align: center;
	margin-top: 15px;
	text-decoration: underline;
}
.inner
{
	padding: 20px;
}
.inside
{
	font-family: 'Poppins', sans-serif;
	padding: 15px;
	font-size: 16px;

}